





{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block body %}

<div class="container ordercontainer">
    <div class="row">
        <div class="col-md-3">
            <div class="account-page-left shadow-sm bg-white h-100">
                <div class="border-bottom p-4">
                    <div class="user text-center">
                        <div class="user-media">
                            <img class="mb-3 rounded-pill shadow-sm mt-1" src="{% static 'images/logo.png' %}" alt="gurdeep singh osahan">
                            <div class="user-media-body">
                                <h6 class="mb-2">@{{user.first_name | lower}}</h6>
                                <!-- <p class="mb-0 text-black font-weight-bold"><a class="text-primary mr-3" data-toggle="modal" data-target="#edit-profile-modal" href="#"><i class="icofont-ui-edit"></i> EDIT</a></p> -->
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="nav nav-tabs flex-column border-0 pt-4 pl-4 pb-4" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'profile' %}" ><i class="fa fa-user"></i> &nbsp;Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'mybooks' %}" ><i class="fa fa-book"></i>&nbsp; My Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  href="{% url 'myorders' %}" ><i class="fa fa-shopping-cart"></i> Orders</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="account-page-right shadow-sm bg-white p-4 h-100">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane  fade  active show" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                        <h4 class="font-weight-bold mt-0 mb-4">Change Password</h4>

                        <div class="row justify-content-center">
                            <div class="card border-0 col-md-6">
                          
                                <div class="card-body">
                                    <form class="form" role="form" autocomplete="off" action="{% url 'changepassword' %}" method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="inputPasswordOld">Current Password</label>
                                            <input type="password" class="form-control" id="inputPasswordOld" required name="current_password" minlength="8">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPasswordNew">New Password</label>
                                            <input type="password" class="form-control" id="inputPasswordNew" required name="new_password" minlength="8">
                                            <span class="form-text small text-muted">
                                                    The password must be 8-20 characters.
                                                </span>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPasswordNewVerify">Confirm Password</label>
                                            <input type="password" class="form-control" id="inputPasswordNewVerify" required name="confirm_new_password" minlength="8">
                                            <span class="form-text small text-muted">To confirm, type the new password again.</span>
                                        </div>
                                        <div class="form-group mt-4 text-center">
                                            <button type="submit" class="btn btn-outline-success">Save</button>
                                            <div class="row">
                                                <a href="{% url 'profile' %}" class="text-danger text-decoration-none mt-2">Cancel</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                                               
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}