{% extends 'base.html' %}
{% block title %}Password Reset{% endblock %}

{% block body %}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
<div class="card text-center" style="width: 500px;">
    <div class="card-header h5 text-white bg-success">Password Reset</div>
    <div class="card-body px-5">
        <p class="card-text py-2">
            Enter your email address and we'll send you an email with instructions to reset your password.
        </p>
        <form method="post">
            {% csrf_token %}
            <input type="email" class="form-control" id="{{ form.email.id_for_label }}" name="{{ form.email.name }}" placeholder="Email Address" required>
            <br>
            <button type="submit" class="btn btn-success w-100">Reset password</button>
        </form>
    </div>
</div>
</div>
{% endblock %}
