{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}

{% block body %}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
<div class="card text-center" style="width: 500px;">
    <div class="card-body px-5 py-5">
        <form method="post">
            {% csrf_token %}
            <input type="password" class="form-control" name="new_password1" placeholder="New Password" required>
            <br>
            <input type="password" class="form-control" name="new_password2" placeholder="Confirm New Password" required>
            <br>
            <button type="submit" class="btn btn-success w-100">Reset password</button>
        </form>
    </div>
</div>
</div>
{% endblock %}
